# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
# Local holiday cache
.cache/holidays_cache.txt
